--
-- PostgreSQL database dump
--

\restrict b86ANPF4jA5huShjyiLrWsPZugNpz7OBsYW298b8guc5ZURyOUtchxapghFSWhs

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA public;


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS 'standard public schema';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: cart_items; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.cart_items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    cart_id uuid NOT NULL,
    listing_id uuid NOT NULL,
    seller_id uuid NOT NULL,
    listing_title character varying(255) NOT NULL,
    listing_image_url character varying(255),
    quantity integer DEFAULT 1 NOT NULL,
    unit_price numeric(12,2) NOT NULL,
    unit character varying(20),
    available_quantity integer,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: carts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.carts (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


--
-- Name: fraud_cases; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.fraud_cases (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    case_number character varying(50) NOT NULL,
    reporter_id uuid NOT NULL,
    accused_id uuid NOT NULL,
    order_id uuid,
    fraud_type character varying(50) NOT NULL,
    priority character varying(20) DEFAULT 'MEDIUM'::character varying NOT NULL,
    status character varying(30) DEFAULT 'OPEN'::character varying NOT NULL,
    description text,
    evidence_details text,
    investigation_notes text,
    resolved_reason text,
    resolved_by_id uuid,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    resolved_at timestamp without time zone
);


--
-- Name: TABLE fraud_cases; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON TABLE public.fraud_cases IS 'Stores fraud reports and investigation cases';


--
-- Name: COLUMN fraud_cases.case_number; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.fraud_cases.case_number IS 'Unique case identifier for tracking';


--
-- Name: COLUMN fraud_cases.fraud_type; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.fraud_cases.fraud_type IS 'Type of fraud: PAYMENT_FRAUD, IDENTITY_FRAUD, PRODUCT_FRAUD, NON_DELIVERY, NON_PAYMENT, ACCOUNT_COMPROMISE, SUSPICIOUS_ACTIVITY, OTHER';


--
-- Name: COLUMN fraud_cases.priority; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.fraud_cases.priority IS 'Case priority: LOW, MEDIUM, HIGH, CRITICAL';


--
-- Name: COLUMN fraud_cases.status; Type: COMMENT; Schema: public; Owner: -
--

COMMENT ON COLUMN public.fraud_cases.status IS 'Investigation status: OPEN, INVESTIGATING, RESOLVED, CLOSED, ESCALATED';


--
-- Name: order_items; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.order_items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    order_id uuid NOT NULL,
    listing_id uuid NOT NULL,
    product_name character varying(255) NOT NULL,
    quantity numeric(12,2) NOT NULL,
    quantity_unit character varying(20) DEFAULT 'KG'::character varying,
    unit_price numeric(12,2) NOT NULL,
    subtotal numeric(14,2) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    image_url character varying(500)
);


--
-- Name: order_status_history; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.order_status_history (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    order_id uuid NOT NULL,
    status character varying(30) NOT NULL,
    notes text,
    changed_by uuid,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: order_tracking; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.order_tracking (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    order_id uuid NOT NULL,
    event_type character varying(50) NOT NULL,
    title character varying(255) NOT NULL,
    description text,
    location character varying(255),
    latitude double precision,
    longitude double precision,
    tracking_number character varying(255),
    carrier character varying(255),
    carrier_status character varying(255),
    estimated_delivery timestamp without time zone,
    event_timestamp timestamp without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: orders; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.orders (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    order_number character varying(50) NOT NULL,
    buyer_id uuid NOT NULL,
    seller_id uuid NOT NULL,
    listing_id uuid NOT NULL,
    status character varying(30) DEFAULT 'PENDING'::character varying,
    total_amount numeric(14,2) NOT NULL,
    currency character varying(3) DEFAULT 'INR'::character varying,
    shipping_address text,
    shipping_city character varying(100),
    shipping_state character varying(100),
    shipping_postal_code character varying(20),
    shipping_country character varying(100),
    shipping_phone character varying(20),
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    buyer_email character varying(255),
    buyer_name character varying(255)
);


--
-- Name: payments; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.payments (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    order_id uuid NOT NULL,
    payment_method character varying(50) NOT NULL,
    payment_status character varying(30) DEFAULT 'PENDING'::character varying,
    amount numeric(14,2) NOT NULL,
    currency character varying(3) DEFAULT 'INR'::character varying,
    transaction_id character varying(100),
    payment_gateway character varying(50),
    paid_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    razorpay_order_id character varying(100),
    razorpay_payment_id character varying(100),
    razorpay_signature character varying(200),
    razorpay_receipt character varying(100),
    failure_reason character varying(500),
    refund_id character varying(100),
    refund_amount numeric(14,2),
    refunded_at timestamp without time zone
);


--
-- Data for Name: cart_items; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.cart_items (id, cart_id, listing_id, seller_id, listing_title, listing_image_url, quantity, unit_price, unit, available_quantity, created_at, updated_at) FROM stdin;
39041bb5-7d32-4ea5-84b3-0f7a1a4adcae	62f424a3-a81a-4358-8b59-661df094e233	5528e71d-a62a-4e62-9f2e-c849216069a8	22222222-2222-2222-2222-222222222222	Fresh Carrots	https://images.unsplash.com/photo-1598170845058-32b9d6a5da37?w=800	2	45.00	KG	200	2026-03-26 05:13:13.496505	2026-03-26 05:13:14.530923
\.


--
-- Data for Name: carts; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.carts (id, user_id, created_at, updated_at) FROM stdin;
62f424a3-a81a-4358-8b59-661df094e233	2f09dfc8-271a-4a40-bdf2-f1245a869507	2026-03-25 03:52:13.16283	2026-03-25 03:52:13.163288
b611cf39-177e-4861-80ff-5eda6ae5fa05	ce9c7726-dc33-4e47-a505-873575deae79	2026-03-25 07:32:41.626252	2026-03-25 07:32:41.626639
\.


--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: fraud_cases; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.fraud_cases (id, case_number, reporter_id, accused_id, order_id, fraud_type, priority, status, description, evidence_details, investigation_notes, resolved_reason, resolved_by_id, created_at, updated_at, resolved_at) FROM stdin;
\.


--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: order_status_history; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: order_tracking; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.order_tracking (id, order_id, event_type, title, description, location, latitude, longitude, tracking_number, carrier, carrier_status, estimated_delivery, event_timestamp, created_at) FROM stdin;
\.


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: payments; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: cart_items cart_items_cart_id_listing_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT cart_items_cart_id_listing_id_key UNIQUE (cart_id, listing_id);


--
-- Name: cart_items cart_items_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT cart_items_pkey PRIMARY KEY (id);


--
-- Name: carts carts_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_pkey PRIMARY KEY (id);


--
-- Name: carts carts_user_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_user_id_key UNIQUE (user_id);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: fraud_cases fraud_cases_case_number_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.fraud_cases
    ADD CONSTRAINT fraud_cases_case_number_key UNIQUE (case_number);


--
-- Name: fraud_cases fraud_cases_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.fraud_cases
    ADD CONSTRAINT fraud_cases_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: order_status_history order_status_history_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_status_history
    ADD CONSTRAINT order_status_history_pkey PRIMARY KEY (id);


--
-- Name: order_tracking order_tracking_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_tracking
    ADD CONSTRAINT order_tracking_pkey PRIMARY KEY (id);


--
-- Name: orders orders_order_number_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_order_number_key UNIQUE (order_number);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: payments payments_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey PRIMARY KEY (id);


--
-- Name: cart_items uk5c2xwequ0svy819ealcqf3lbj; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT uk5c2xwequ0svy819ealcqf3lbj UNIQUE (cart_id, listing_id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: idx_cart_item_listing_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cart_item_listing_id ON public.cart_items USING btree (listing_id);


--
-- Name: idx_cart_item_seller_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cart_item_seller_id ON public.cart_items USING btree (seller_id);


--
-- Name: idx_cart_items_cart_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cart_items_cart_id ON public.cart_items USING btree (cart_id);


--
-- Name: idx_cart_items_listing_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cart_items_listing_id ON public.cart_items USING btree (listing_id);


--
-- Name: idx_cart_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_cart_user_id ON public.carts USING btree (user_id);


--
-- Name: idx_carts_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_carts_user_id ON public.carts USING btree (user_id);


--
-- Name: idx_fraud_accused_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_fraud_accused_id ON public.fraud_cases USING btree (accused_id);


--
-- Name: idx_fraud_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_fraud_created_at ON public.fraud_cases USING btree (created_at);


--
-- Name: idx_fraud_order_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_fraud_order_id ON public.fraud_cases USING btree (order_id);


--
-- Name: idx_fraud_reporter_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_fraud_reporter_id ON public.fraud_cases USING btree (reporter_id);


--
-- Name: idx_fraud_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_fraud_status ON public.fraud_cases USING btree (status);


--
-- Name: idx_order_buyer_email; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_order_buyer_email ON public.orders USING btree (buyer_email);


--
-- Name: idx_order_buyer_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_order_buyer_id ON public.orders USING btree (buyer_id);


--
-- Name: idx_order_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_order_created_at ON public.orders USING btree (created_at);


--
-- Name: idx_order_items_order; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_order_items_order ON public.order_items USING btree (order_id);


--
-- Name: idx_order_seller_date; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_order_seller_date ON public.orders USING btree (seller_id, created_at);


--
-- Name: idx_order_seller_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_order_seller_id ON public.orders USING btree (seller_id);


--
-- Name: idx_order_seller_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_order_seller_status ON public.orders USING btree (seller_id, status);


--
-- Name: idx_order_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_order_status ON public.orders USING btree (status);


--
-- Name: idx_order_tracking_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_order_tracking_created_at ON public.order_tracking USING btree (created_at DESC);


--
-- Name: idx_order_tracking_event_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_order_tracking_event_type ON public.order_tracking USING btree (event_type);


--
-- Name: idx_order_tracking_order_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_order_tracking_order_id ON public.order_tracking USING btree (order_id);


--
-- Name: idx_order_tracking_tracking_number; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_order_tracking_tracking_number ON public.order_tracking USING btree (tracking_number);


--
-- Name: idx_orders_buyer; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_orders_buyer ON public.orders USING btree (buyer_id);


--
-- Name: idx_orders_buyer_created; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_orders_buyer_created ON public.orders USING btree (buyer_id, created_at DESC);


--
-- Name: idx_orders_number; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_orders_number ON public.orders USING btree (order_number);


--
-- Name: idx_orders_seller; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_orders_seller ON public.orders USING btree (seller_id);


--
-- Name: idx_orders_seller_created; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_orders_seller_created ON public.orders USING btree (seller_id, created_at DESC);


--
-- Name: idx_orders_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_orders_status ON public.orders USING btree (status);


--
-- Name: idx_payments_order; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_payments_order ON public.payments USING btree (order_id);


--
-- Name: idx_payments_razorpay_order_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_payments_razorpay_order_id ON public.payments USING btree (razorpay_order_id);


--
-- Name: idx_payments_razorpay_payment_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_payments_razorpay_payment_id ON public.payments USING btree (razorpay_payment_id);


--
-- Name: idx_status_history_order; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_status_history_order ON public.order_status_history USING btree (order_id);


--
-- Name: cart_items cart_items_cart_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT cart_items_cart_id_fkey FOREIGN KEY (cart_id) REFERENCES public.carts(id) ON DELETE CASCADE;


--
-- Name: order_items order_items_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON DELETE CASCADE;


--
-- Name: order_status_history order_status_history_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_status_history
    ADD CONSTRAINT order_status_history_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON DELETE CASCADE;


--
-- Name: order_tracking order_tracking_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.order_tracking
    ADD CONSTRAINT order_tracking_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON DELETE CASCADE;


--
-- Name: payments payments_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict b86ANPF4jA5huShjyiLrWsPZugNpz7OBsYW298b8guc5ZURyOUtchxapghFSWhs

