--
-- PostgreSQL database dump
--

\restrict DKDYazc4XlFXQGMrsoCKHmxnpDzvpFdT1uJSMyr0PYqbMI5EMIdysdUCDbyq90H

-- Dumped from database version 15.15
-- Dumped by pg_dump version 15.15

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA public;


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS 'standard public schema';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.categories (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    parent_id uuid,
    active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: flyway_schema_history; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.flyway_schema_history (
    installed_rank integer NOT NULL,
    version character varying(50),
    description character varying(200) NOT NULL,
    type character varying(20) NOT NULL,
    script character varying(1000) NOT NULL,
    checksum integer,
    installed_by character varying(100) NOT NULL,
    installed_on timestamp without time zone DEFAULT now() NOT NULL,
    execution_time integer NOT NULL,
    success boolean NOT NULL
);


--
-- Name: listing_images; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.listing_images (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    listing_id uuid NOT NULL,
    image_url character varying(500) NOT NULL,
    is_primary boolean DEFAULT false,
    sort_order integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: listing_price_update_proposals; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.listing_price_update_proposals (
    id uuid NOT NULL,
    listing_id uuid NOT NULL,
    seller_id uuid NOT NULL,
    product_name character varying(255) NOT NULL,
    matched_commodity character varying(120),
    current_price numeric(12,2) NOT NULL,
    suggested_price numeric(12,2) NOT NULL,
    currency character varying(3) NOT NULL,
    market_source character varying(120),
    market_name character varying(255),
    confidence_score integer,
    reason character varying(500),
    status character varying(20) NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL,
    expires_at timestamp without time zone,
    responded_at timestamp without time zone
);


--
-- Name: listings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.listings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    seller_id uuid NOT NULL,
    farm_id uuid,
    category_id uuid,
    title character varying(255) NOT NULL,
    description text,
    crop_type character varying(100),
    quantity numeric(12,2) NOT NULL,
    quantity_unit character varying(20) DEFAULT 'KG'::character varying,
    price_per_unit numeric(12,2) NOT NULL,
    currency character varying(3) DEFAULT 'USD'::character varying,
    minimum_order numeric(12,2),
    harvest_date date,
    expiry_date date,
    location character varying(500),
    latitude numeric(10,8),
    longitude numeric(11,8),
    organic_certified boolean DEFAULT false,
    quality_grade character varying(20),
    status character varying(20) DEFAULT 'DRAFT'::character varying,
    view_count integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    average_rating numeric(3,2) DEFAULT 0,
    review_count integer DEFAULT 0
);


--
-- Name: reviews; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.reviews (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    listing_id uuid NOT NULL,
    reviewer_id uuid NOT NULL,
    seller_id uuid NOT NULL,
    rating integer NOT NULL,
    comment text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    order_id uuid,
    title character varying(255),
    is_verified_purchase boolean DEFAULT false,
    helpful_count integer DEFAULT 0,
    CONSTRAINT reviews_rating_check CHECK (((rating >= 1) AND (rating <= 5)))
);


--
-- Name: saved_listings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.saved_listings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    listing_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: seller_ratings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.seller_ratings (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    seller_id uuid NOT NULL,
    total_reviews integer DEFAULT 0,
    average_rating numeric(3,2) DEFAULT 0,
    five_star_count integer DEFAULT 0,
    four_star_count integer DEFAULT 0,
    three_star_count integer DEFAULT 0,
    two_star_count integer DEFAULT 0,
    one_star_count integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Name: wishlists; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.wishlists (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    listing_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: flyway_schema_history; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: listing_images; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: listing_price_update_proposals; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.listing_price_update_proposals (id, listing_id, seller_id, product_name, matched_commodity, current_price, suggested_price, currency, market_source, market_name, confidence_score, reason, status, created_at, updated_at, expires_at, responded_at) FROM stdin;
\.


--
-- Data for Name: listings; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: reviews; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.reviews (id, listing_id, reviewer_id, seller_id, rating, comment, created_at, updated_at, order_id, title, is_verified_purchase, helpful_count) FROM stdin;
56838e6d-f6c4-4788-8217-efc8caeecbd2	6888b306-5a82-488d-8177-4f3d78df8c0c	083fc367-b5f9-3b49-98af-2bb99001ecfb	11111111-1111-1111-1111-111111111111	5	good	2026-03-25 05:47:16.704202	2026-03-25 05:47:30.739589	\N	\N	f	1
\.


--
-- Data for Name: saved_listings; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.saved_listings (id, user_id, listing_id, created_at) FROM stdin;
\.


--
-- Data for Name: seller_ratings; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.seller_ratings (id, seller_id, total_reviews, average_rating, five_star_count, four_star_count, three_star_count, two_star_count, one_star_count, created_at, updated_at) FROM stdin;
5b751e5b-c7e4-4f5a-9b66-c382e468dfbc	11111111-1111-1111-1111-111111111111	1	5.00	1	0	0	0	0	2026-03-25 05:47:16.842941	2026-03-25 05:47:16.842967
\.


--
-- Data for Name: wishlists; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.wishlists (id, user_id, listing_id, created_at) FROM stdin;
\.


--
-- Name: categories categories_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_name_key UNIQUE (name);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: flyway_schema_history flyway_schema_history_pk; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.flyway_schema_history
    ADD CONSTRAINT flyway_schema_history_pk PRIMARY KEY (installed_rank);


--
-- Name: listing_images listing_images_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.listing_images
    ADD CONSTRAINT listing_images_pkey PRIMARY KEY (id);


--
-- Name: listing_price_update_proposals listing_price_update_proposals_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.listing_price_update_proposals
    ADD CONSTRAINT listing_price_update_proposals_pkey PRIMARY KEY (id);


--
-- Name: listings listings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.listings
    ADD CONSTRAINT listings_pkey PRIMARY KEY (id);


--
-- Name: reviews reviews_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_pkey PRIMARY KEY (id);


--
-- Name: saved_listings saved_listings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.saved_listings
    ADD CONSTRAINT saved_listings_pkey PRIMARY KEY (id);


--
-- Name: saved_listings saved_listings_user_id_listing_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.saved_listings
    ADD CONSTRAINT saved_listings_user_id_listing_id_key UNIQUE (user_id, listing_id);


--
-- Name: seller_ratings seller_ratings_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.seller_ratings
    ADD CONSTRAINT seller_ratings_pkey PRIMARY KEY (id);


--
-- Name: seller_ratings seller_ratings_seller_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.seller_ratings
    ADD CONSTRAINT seller_ratings_seller_id_key UNIQUE (seller_id);


--
-- Name: wishlists wishlists_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.wishlists
    ADD CONSTRAINT wishlists_pkey PRIMARY KEY (id);


--
-- Name: wishlists wishlists_user_id_listing_id_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.wishlists
    ADD CONSTRAINT wishlists_user_id_listing_id_key UNIQUE (user_id, listing_id);


--
-- Name: flyway_schema_history_s_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX flyway_schema_history_s_idx ON public.flyway_schema_history USING btree (success);


--
-- Name: idx_listings_category; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_listings_category ON public.listings USING btree (category_id);


--
-- Name: idx_listings_crop_type; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_listings_crop_type ON public.listings USING btree (crop_type);


--
-- Name: idx_listings_crop_type_trgm; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_listings_crop_type_trgm ON public.listings USING gin (lower((COALESCE(crop_type, ''::character varying))::text) public.gin_trgm_ops);


--
-- Name: idx_listings_description_trgm; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_listings_description_trgm ON public.listings USING gin (lower(COALESCE(description, ''::text)) public.gin_trgm_ops);


--
-- Name: idx_listings_location; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_listings_location ON public.listings USING btree (latitude, longitude);


--
-- Name: idx_listings_price; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_listings_price ON public.listings USING btree (price_per_unit);


--
-- Name: idx_listings_seller; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_listings_seller ON public.listings USING btree (seller_id);


--
-- Name: idx_listings_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_listings_status ON public.listings USING btree (status);


--
-- Name: idx_listings_status_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_listings_status_created_at ON public.listings USING btree (status, created_at DESC);


--
-- Name: idx_listings_title_trgm; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_listings_title_trgm ON public.listings USING gin (lower((title)::text) public.gin_trgm_ops);


--
-- Name: idx_price_update_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_price_update_created_at ON public.listing_price_update_proposals USING btree (created_at);


--
-- Name: idx_price_update_listing_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_price_update_listing_status ON public.listing_price_update_proposals USING btree (listing_id, status);


--
-- Name: idx_price_update_seller_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_price_update_seller_status ON public.listing_price_update_proposals USING btree (seller_id, status);


--
-- Name: idx_reviews_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_reviews_created_at ON public.reviews USING btree (created_at DESC);


--
-- Name: idx_reviews_listing; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_reviews_listing ON public.reviews USING btree (listing_id);


--
-- Name: idx_reviews_rating; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_reviews_rating ON public.reviews USING btree (rating);


--
-- Name: idx_reviews_reviewer_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_reviews_reviewer_id ON public.reviews USING btree (reviewer_id);


--
-- Name: idx_reviews_seller; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_reviews_seller ON public.reviews USING btree (seller_id);


--
-- Name: idx_saved_listings_user; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_saved_listings_user ON public.saved_listings USING btree (user_id);


--
-- Name: idx_seller_ratings_seller_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_seller_ratings_seller_id ON public.seller_ratings USING btree (seller_id);


--
-- Name: idx_wishlists_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_wishlists_created_at ON public.wishlists USING btree (created_at DESC);


--
-- Name: idx_wishlists_listing_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_wishlists_listing_id ON public.wishlists USING btree (listing_id);


--
-- Name: idx_wishlists_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_wishlists_user_id ON public.wishlists USING btree (user_id);


--
-- Name: categories categories_parent_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_parent_id_fkey FOREIGN KEY (parent_id) REFERENCES public.categories(id);


--
-- Name: listing_images listing_images_listing_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.listing_images
    ADD CONSTRAINT listing_images_listing_id_fkey FOREIGN KEY (listing_id) REFERENCES public.listings(id) ON DELETE CASCADE;


--
-- Name: listing_price_update_proposals listing_price_update_proposals_listing_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.listing_price_update_proposals
    ADD CONSTRAINT listing_price_update_proposals_listing_id_fkey FOREIGN KEY (listing_id) REFERENCES public.listings(id) ON DELETE CASCADE;


--
-- Name: listings listings_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.listings
    ADD CONSTRAINT listings_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id);


--
-- Name: reviews reviews_listing_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_listing_id_fkey FOREIGN KEY (listing_id) REFERENCES public.listings(id) ON DELETE CASCADE;


--
-- Name: saved_listings saved_listings_listing_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.saved_listings
    ADD CONSTRAINT saved_listings_listing_id_fkey FOREIGN KEY (listing_id) REFERENCES public.listings(id) ON DELETE CASCADE;


--
-- Name: wishlists wishlists_listing_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.wishlists
    ADD CONSTRAINT wishlists_listing_id_fkey FOREIGN KEY (listing_id) REFERENCES public.listings(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict DKDYazc4XlFXQGMrsoCKHmxnpDzvpFdT1uJSMyr0PYqbMI5EMIdysdUCDbyq90H

